.head-bar {
    background: #121A23;
    display: flex;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px;
}
.head-bar .logo {
    height: 32;
}

.head-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 16px 0;
}
.head-bar li {
    display: inline;
}

.head-bar a {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.current {
    color: #ffffff;
}

.head-bar .avatar {
    height: 48px;
}

.user-bar {
    padding-left: 20%;
    align-items: center;
}

.user-bar i {
    background-color: #212121;
    border-radius: 100%;
    font-size: 24px;
    padding: 8px;
    align-self: center;
}

footer {
    background-color: #212121;
    padding: 20px;
    color: #8F98A0;
}

footer .content p {
    font-size: 12px;
    display: flex;
}

footer .content i {
    text-decoration: none;
    font-size: 20px;
    color: aqua;
}