main {
    display: grid;
    grid-template-columns: 420px auto;
    grid-gap: 8px;
    padding: 8px;
}

.slidecontainer {
    width: 90%; /* Width of the outside container */
    border-radius: 100px;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 8px; /* Specified height */
    background: #66C0F4; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 100px;
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 18px; /* Set a specific slider handle width */
    height: 18px; /* Slider handle height */
    background: #ffffff; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 100px;
  }

.list-bar span {
    margin: 24px;
    padding: 2px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
}

.list-focus {
    color: #384959;
    background-color: rgba(234, 240, 246, 0.8);
}

.sort {
    color: #384959;
    background-color: rgba(234, 240, 246, 0.8);
}

.filter-box {
    background-color: #00000044;
    padding: 16px;
    border-radius: 16px;
    margin: 16px;
    font-size: 12px;
    font-weight: lighter;
}

.filter-box div {
    padding: 4px;
    color: rgba(234, 240, 246, 0.8);
}

.filter-box #search {
    width: 90%;
    border-radius: 8px;
    border: 0px;
    height: 24px;
    padding: 4 10px;
    opacity: 50%;
}

.game {
    display: flex;
    height: 84px;
    background-color: #00000044;
    margin: 16px;
    border-radius: 10px;
}

.game:hover {
    background-color: #384959;
}

.game i {
    margin: 2px;
}

.game-image img {
    height: 84px;
    border-radius: 10px 0 0 10px;
}

.game-info {
    margin: 16px;
    align-self: center;
    width: 35%;
}

.game-title {
    font-size: 18px;
    font-weight: bold;
    padding: 4px 0;
}

.genre {
    padding: 4px 0;
    font-size: 12px;
    color: #384959;
}

.price {
    color: rgba(234, 240, 246, 0.8);
    font-size: 20px;
    font-weight: lighter;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.navi {
    margin-left: 50%;
}

.number {
    padding: 4px 12px;
    font-size: 16px;
    font-weight: lighter;
    height: 48px;
    width: 48px;
    border-style: solid;
    border-width: 2px;
    border-color: #66C0F4;
    border-radius: 4px;
}