<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./module-game-info.css" rel="stylesheet" />

      <div class="module-game-info-container">
        <div class="module-game-info-gameinfo">
          <img
            alt="KeyArt4128"
            src="public/playground_assets/keyart4128-j4qv-300h.png"
            class="module-game-info-key-art"
          />
          <div class="module-game-info-name">
            <div class="module-game-info-game-name-rating">
              <span class="module-game-info-text">
                <span>Genshin Impact</span>
              </span>
              <div class="module-game-info-rating">
                <div class="module-game-info-overall">
                  <span class="module-game-info-text02">
                    <span>Overwhelmingly Positive</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="module-game-info-price">
              <span class="module-game-info-text04"><span>Free</span></span>
              <span class="module-game-info-text06">
                <span>Includes in-app purchases</span>
              </span>
            </div>
          </div>
          <button class="module-game-info-buttons">
            <div class="module-game-info-buyget">
              <span class="module-game-info-text08"><span>Get</span></span>
            </div>
            <div class="module-game-info-addtocart">
              <span class="module-game-info-text10">
                <span>Add To Cart</span>
              </span>
            </div>
            <div class="module-game-info-addtowishlist">
              <div class="module-game-info-div"></div>
              <span class="module-game-info-text12">
                <span>Add to Wishlist</span>
              </span>
            </div>
          </button>
          <div class="module-game-info-dlc">
            <span class="module-game-info-text14">
              <span>Downloadable Contents</span>
            </span>
            <div class="module-game-info-d-cs">
              <div class="module-game-info-dlc1">
                <span class="module-game-info-text16">
                  <span>Halo Infinite (Campaign)</span>
                </span>
                <div class="module-game-info-price1">
                  <span class="module-game-info-text18">
                    <span>$59.99</span>
                  </span>
                </div>
                <div class="module-game-info-addtocart1">
                  <span class="module-game-info-text20">
                    <span>Add To Cart</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="module-game-info-info">
            <div class="module-game-info-div01">
              <div class="module-game-info-div02">
                <span class="module-game-info-text22">
                  <span>Developer</span>
                </span>
                <span class="module-game-info-text24">
                  COGNOSPHERE PTE. LTD.
                </span>
              </div>
            </div>
            <div class="module-game-info-div03">
              <div class="module-game-info-div04">
                <span class="module-game-info-text25">
                  <span>Publisher</span>
                </span>
                <span class="module-game-info-text27">
                  <span>COGNOSPHERE PTE. LTD.</span>
                </span>
              </div>
            </div>
            <div class="module-game-info-div05">
              <div class="module-game-info-div06">
                <span class="module-game-info-text29">
                  <span>Release Date</span>
                </span>
                <span class="module-game-info-text31">
                  <span>06/08/2021</span>
                </span>
              </div>
            </div>
            <div class="module-game-info-div07">
              <div class="module-game-info-div08">
                <span class="module-game-info-text33">
                  <span>Platform</span>
                </span>
              </div>
            </div>
          </div>
          <div class="module-game-info-tags">
            <div class="module-game-info-frame19">
              <span class="module-game-info-text35"><span>Fantasy</span></span>
            </div>
            <div class="module-game-info-frame20">
              <span class="module-game-info-text37"><span>RPG</span></span>
            </div>
            <div class="module-game-info-frame39">
              <span class="module-game-info-text39">
                <span>Open World</span>
              </span>
            </div>
          </div>
          <div class="module-game-info-age-rating">
            <div class="module-game-info-description">
              <span class="module-game-info-text41"><span>Teen</span></span>
              <span class="module-game-info-text43">
                <span>Alcohol Reference, Fantasy Violence</span>
              </span>
              <div class="module-game-info-div09">
                <span class="module-game-info-text45">
                  <span>
                    Users Interact, In-Game Purchases (Includes Random Items)
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="module-game-info-feature">
            <span class="module-game-info-text47"><span>Features</span></span>
            <div class="module-game-info-features">
              <div class="module-game-info-singleplayer">
                <span class="module-game-info-text49"><span>user</span></span>
                <span class="module-game-info-text51">
                  <span>Singleplayer</span>
                </span>
              </div>
              <div class="module-game-info-online-multiplayer">
                <span class="module-game-info-text53"></span>
                <span class="module-game-info-text54">
                  <span>Online Multiplayer</span>
                </span>
              </div>
              <div class="module-game-info-achievements">
                <span class="module-game-info-text56"></span>
                <span class="module-game-info-text57">
                  <span>Controller Support</span>
                </span>
              </div>
              <div class="module-game-info-achievements1">
                <span class="module-game-info-text59"></span>
                <span class="module-game-info-text60">
                  <span>Achievements</span>
                </span>
              </div>
            </div>
          </div>
          <div class="module-game-info-report-share">
            <button class="module-game-info-button">
              <img
                alt="svg4128"
                src="public/playground_assets/svg4128-rky.svg"
                class="module-game-info-svg"
              />
              <span class="module-game-info-text62"><span>Report</span></span>
            </button>
            <button class="module-game-info-button1">
              <img
                alt="svg4128"
                src="public/playground_assets/svg4128-u1oh.svg"
                class="module-game-info-svg1"
              />
              <span class="module-game-info-text64"><span>Share</span></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
